
<div class="book-list-wrapper">
		
		<div class="books-list-item">
                <p class="book-desc todo" style="font-size: 20px;">Add New Todo</p>
                <form name="addnewTodoForm" method="post" method="post" ng-submit="addTodo(formtodo)">
                   
                <input type="text" autocomplete="off" ng-model="formtodo.todo" name="todo" placeholder="Todo" style="width: 500px; padding: 5px; font-size: 20px;">
                <button type="submit" style="padding: 5px">Add Todo</button>

                </form>
                
            </div>
            
            <div class="books-list-item" ng-repeat="todo in todos.todos | orderBy : '-id'" ng-class="todo.is_complited == 1 ? 'done' : 'pending'">

	            <p class="status">Status: <span> {{todo.is_complited == '1' ? "Done" : "Pending"}} </span> </p>

	            <p class="book-desc todo" style="font-size: 20px;">
	                   - {{todo.todo}}
	                </p>

	            <a href="#" class="remove-todo-btn" ng-click="clearTodo(todo.id, $index)">X</a>
	                

	                <form name="markTodoComplepted/id" method="post">
	                <label class="markDone"> 
	                
	                <input type="checkbox" name="is_complited" ng-model="todo.is_complited" ng-true-value="'1'" ng-false-value="'0'"
	                ng-checked="todo.is_complited == '1'" 
	                ng-change="changeStatus(todo)"> Complited {{todo.is_complited}} </label>


	                </form>


	                </h3>
	                
	                
	                <div class="book-meta clear-after todo">
	                    <span class="publised_date">Published Date : {{todo.date_created}} </span>
	                    <span class="complited_date">Complited Date : {{todo.date_complited}}</span>
	                </div>
            </div> <!-- item -->


        


</div>